

body {
  font-size: 16px;
  color: rgb(0, 0, 0);
  background-color: #dadada;
  font-family: 'Oxygen', sans-serif;
  height: 100%;
}
.day{
    width: 60px;
}

#viewer-box{
    height: 1000px;
    float: left;
}

#panorama {
    height: 100%;
    
}
.shopping-cart{
    background-color: white;
}

#items-box{
    /* float:left; */
    overflow:auto;
}
/* 
#item-info {
    width: 30%;
    height: 60%;
    float: left;
    background-color: #ffffff;
} */
#dropdown-quantity{
    margin-bottom: 30px;
}
#item-per-oz{
    padding-left: 60px;
}
 #item-eff{
     color: gray;
 }

.card {
    height:  900px;
    overflow-y:auto;
}
.card-header {
    text-align: center;
}
.card-img{
    width: auto;
    height: 200px;
}
/* .card-body{
    float:left;
} */

 /* #item-image{
    width: 100%;
    height: 100%;
    object-fit: contain;
 } */
 .pnlm-about-msg {
    visibility: hidden;
}

.pnlm-load-box {
    z-index:-999;
    opacity: 0;
 }
