

body {
  font-size: 16px;
  color: rgb(0, 0, 0);
  background-color: #dadada;
  font-family: 'Oxygen', sans-serif;
}
.day{
    width: 60px;
}

#viewer-box{
    height: 1000px;
    float: left;
}

#panorama {
    height: 100%;
    
}

#items-box{
    float:left;
    overflow:hidden;
    height: 1000px;
}
/* 
#item-info {
    width: 30%;
    height: 60%;
    float: left;
    background-color: #ffffff;
} */

.pnlm-about-msg {
    visibility: hidden;
}

.pnlm-load-box {
    z-index:-999;
    opacity: 0;
 }

.card {
    height: 360px;
    margin-left: 15px;
    overflow-y:scroll;
}

.card-img-top{
    object-fit: cover;
    width: 100%;
    height: 200px;
}

 /* #item-image{
    width: 100%;
    height: 100%;
    object-fit: contain;
 } */
/** HEADER **/
